################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/BaiduTTSDemo/.vs/BaiduTTSDemo/v16
/XunFeiTTSDemo/.vs/语音合成/v16
/XunFeiTTSDemo/XunFeiTTSDemo/.vs/XunFeiTTSDemo/v16
/YouDaoTTSDemo/.vs/YouDaoTTSDemo/v16
/MultiTasksOnlyKeepLastDemo/.vs
/MultiTasksOnlyKeepLastDemo/packages
/MultiTasksOnlyKeepLastDemo/MultiTasksOnlyKeepLastDemo/obj
/MultiTasksOnlyKeepLastDemo/MultiTasksOnlyKeepLastDemo/bin
